body
{
    margin: 0px;
    padding: 0px;
}

img
{
    display: block;
    margin: auto;
    width: 100%;
}

h1{
    text-align: center;
}

hr
{
    text-align: center;
    width: 200px;
}

.para
{
    text-align: center;
}

.content
{
    
    padding: 50px 102px;
    background-color: darkgrey;
}

.contain
{
    background-color: black;
}
table
{
    padding: 30px;
    border: 0px;
    background-color: black;
}
td {
    /* border: 1px solid black;
    border-collapse: collapse; */
    border: none;
    padding: 0px;
    margin: 0px;
    
  }
table tr{
     padding: 20px;
 }
