.logo
{
    width: 60%;
}

.btn-outline-success
{
    background-color: green;
    color: white;
}
.carousel-caption
{
    top: 42%;
}
.carousel-caption > h3{
    font-weight: 500;
    text-align: center;
    vertical-align: middle; 
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-caption > p{
    color: WHITE;
    font-size: 40px;
}

.col-3
{
    padding-left: 40px;
    margin-top: 30px;
}

.col
{
    margin-top: 30px;
}

div > .row
{
    margin-top: 30px;
}

.card-product
{
    text-align: center;
    margin-top: 20px;
}

.img-product
{
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 10%;
    margin-bottom: 15px;
}

.btn.btn-dark
{
    width: 80%;
}

.btn.btn-dark:hover{
    background-color: white;
    color: black;
}

.name-product:hover
{
    color: red;
}

.decsription-product
{
    font-size: 15px;
}

/*About page*/
.img-about
{
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 50px;
}

#btn-login
{
    margin-top: 20px;
}

#btn-register
{
    margin-top: 20px;

}

/*footer*/

.container-footer {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 50px;
}

.logo-footer
{
    width: 20%;
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

.content
{
    color: white;
    background-color: rgb(175, 174, 174);
    padding: 50px;
}

.content-2
{
    padding: 50px;
}