.logo
{
    width: 60%;
}

.btn-outline-success
{
    background-color: green;
    color: white;
}
.carousel-caption
{
    top: 42%;
}
.carousel-caption > h3{
    font-weight: 500;
    text-align: center;
    vertical-align: middle; 
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-caption > p{
    color: WHITE;
    font-size: 40px;
}

.col-3
{
    padding-left: 40px;
    margin-top: 30px;
}

.col
{
    margin-top: 30px;
}

div > .row
{
    margin-top: 30px;
}

.card-product
{
    text-align: center;
    margin-top: 20px;
}

.img-product
{
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 10%;
    margin-bottom: 15px;
}

.btn.btn-dark
{
    width: 80%;
}

.btn.btn-dark:hover{
    background-color: white;
    color: black;
}

.name-product:hover
{
    color: red;
}

.decsription-product
{
    font-size: 15px;
}

/*About page*/
.img-about
{
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 50px;
}

#btn-login
{
    margin-top: 20px;
}

#btn-register
{
    margin-top: 20px;

}